

#tldraw,.c-dwQeTN{
   height: 100% !important;
   
}

#confirmButton-div{
  z-index: 100 !important;
  text-align: center;
  margin-top: 10px;
}

#confirmButton{
  background: transparent;
  color: black;
  border: 1px solid transparent;
}
#confirmButton:hover{
  background: rgb(233, 225, 225);
  border-radius: 3px;
  color: rgb(75, 69, 69);
  border: 1px solid transparent;
}

#master{
  display: flex;
  flex-direction: column;
}



/*

.container {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 30px;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: #0057e3;
}

.overlay {
  z-index: 9;
  margin: 30px;
  background: #009938;
}



*/
